<!DOCTYPE html>
<html <%= common_html_attributes %>>
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <body class="auth-page public">
    <%= render 'cookies_eu/consent_banner', link: '/privacy', target: '_blank' %>

    <%= raw setting["html.per_page_code_body"] %>

    <header class="govuk-header" role="banner"
  data-module="govuk-header">
  <div class="govuk-header__container govuk-header__container--full-width">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-thirds">
        <div class="govuk-header__logo">
          <a href="<%= root_path %>" class="govuk-header__link govuk-header__link--homepage">
            <span class="govuk-header__logotype header-logo">
              <span class="govuk-header__logotype-text">
                <%= setting["org_name"] %>
              </span>
            </span>
            <span class="govuk-tag">
              Demonstration
                        </span>
          </a>
        </div>
      </div>
    </div>
  </div>
    </header>
  <div class="wrapper">

        <div class="row">
          
          <div class="medium-6 column hide-for-small-only">
      <%= image_tag(image_path_for("devise.png"), style:"margin-top: 50%; margin-bottom:50%;") %>
          </div>
     
      <div class="small-12 medium-6 column ">
       
            <div class="auth-form margin">
              <%= render "layouts/flash" %>

              <%= yield %>
            </div>
          </div>
        </div>
  </div>
    
    <div class="footer">
      <%= render Layout::FooterComponent.new %>
    </div>
  </body>
</html>
