<% provide :title do %>
  <%= t("layouts.header.collaborative_legislation") %> - <%= t("legislation.processes.index.filters.#{@current_filter}") %>
<% end %>

<%= render "shared/section_header", i18n_namespace: "legislation.processes.index.section_header", image: "legislation_processes" %>

<div class="row">
  <div id="legislation" class="legislation-list small-12 medium-9 column">

    <%= render "shared/filter_subnav", i18n_namespace: "legislation.processes.index" %>

    <div id="legislation-list">
      <% if @processes.any? %>
        <%= render @processes %>
        <%= paginate @processes %>
      <% else %>
        <div class="callout primary margin-top">
          <%= t("legislation.processes.index.no_#{@current_filter}_processes") %>
        </div>
      <% end %>
      

      <details class="govuk-details" data-module="govuk-details" id="section_help" data-magellan-target="section_help">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <strong><%= t("legislation.processes.index.section_footer.title") %></strong>
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><%= t("legislation.processes.index.section_footer.description") %></p>
        </div>
      </details>
    </div>
  </div>
</div>
