<div class="<%= results_type == :compatible ? "success" : "js-discarded" %>"
     style="<%= results_type == :compatible ? "" : "display: none" %>"
     id="<%= results_type %>-container">

  <h4><%= title %></h4>

  <table id="budget-investments-<%= results_type %>" class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <%= t("budgets.results.investment_title") %>
        </th>
        <th scope="col" class="text-center govuk-table__header">
          <%= t("budgets.results.ballot_lines_count") %>
        </th>
        <% if @budget.show_money? %>
          <th scope="col" class="text-center govuk-table__header">
            <%= t("budgets.results.price") %>
          </th>
          <% if results_type == :compatible %>
            <th scope="col" class="text-right govuk-table__header">
              <small><%= t("budgets.results.amount_available") %></small><br>
              <%= @budget.formatted_amount(heading_price) %><br>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% amount_available = heading_price %>
      <% investments.each do |investment| %>
          <tr id="<%= dom_id(investment) %>"
              class="budget-investments govuk-table__row <%= investment.winner? ? "success" : "js-discarded" %>"
              style="<%= investment.winner? ? "" : "display: none" %>">
            <td class="govuk-table__cell">
              <% if investment.winner? %>
                <span class="icon-check">
                  <span class="show-for-sr">
                    <%= t("budgets.results.accepted") %>
                  </span>
                </span>
              <% else %>
                <span class="icon-x delete">
                  <span class="show-for-sr">
                    <%= t("budgets.results.discarded") %>
                  </span>
                </span>
              <% end %>
              <%= link_to investment.title, budget_investment_path(@budget, investment) %>
            </td>
            <td class="text-center govuk-table__cell">
              <%= investment.ballot_lines_count %>
            </td>
            <% if @budget.show_money? %>
              <td class="text-center govuk-table__cell">
                <%= @budget.formatted_amount(investment.price) %>
              </td>
              <% if results_type == :compatible %>
                <td class="small text-right govuk-table__cell"
                    title="<%= @budget.formatted_amount(amount_available) %> - <%= @budget.formatted_amount(investment.price) %>">
                    <%= @budget.formatted_amount(amount_available - investment.price) %>
                    <% amount_available -= investment.price if investment.winner? %>
                </td>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
