<div class="legislation-process govuk-card">
  <%= link_to url_for(process) do %>
    <figure class="figure-card">
      <figcaption>
        <span><%= t("welcome.feed.process_label") %></span><br>
        <h3 class="govuk-heading-s"><%= process.title %></h3>
      </figcaption>
    </figure>
    <p class="govuk-body"><%= process.summary %></p>
    <%= render SDG::TagListComponent.new(process, linkable: false) %>
    <p class="govuk-link govuk-!-font-weight-bold"><%= t("welcome.feed.see_process") %></p>
  <% end %>
</div>
